<%- include("./includes/header.ejs", {extra: '',title: title, url: url}); %>
<div class="transboxXL">
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %>.</p>
    <br />
    <a href="/individual/all">All Characters</a> <br />
    <a href="/individual/good">The Good Guys</a> <br />
    <a href="/individual/bad">The Bad Guys</a> <br />
    <a href="/team/all">All Teams</a> <br />
</div>
<%- include("./includes/footer.ejs"); %>
